.full-flex-screen {
    display: flex;
    height: 100vh;
}

.selectable {
    cursor: pointer;
}

.text-hover{
    -webkit-user-select: none; 
    -moz-user-select: none;    
    -ms-user-select: none;    
    user-select: none;
}
.text-hover:hover {
    text-decoration: underline;
}



.page-item.active .page-link {
    z-index: 3;
    color: var(--text-color-primary) !important;
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}
  
.page-link {
    color: var(--primary-color) !important;
}